<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Walls To Defense</title>
  <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
  <app>
    <div class="loading"></div>
  </app>

  <script src="/js/vendors/pixi.min.js"></script>
  <script src="/js/vendors/p2.min.js"></script>
  <script src="/js/vendors/creature.min.js"></script>
  <script src="/js/vendors/phaser.min.js"></script>
  <script src="/js/vendors/phaser-creature.min.js"></script>
  <script src="/js/app.bundle.js"></script>
</body>
</html>
