.btn-home-menu {
  text-align: left;
  padding-left: 10px;
  width: 200px !important;
}

.title-home {
  background: url(../../../assets/images/logo-762x500.png) no-repeat 50% 0;
  background-size: contain;
  width: 250px;
  height: 164px;
  left: calc(50% / 2 - 125px);
  margin: 0;
  top: 30px;
}