#map {
  background: url(../../../assets/images/map.png) no-repeat 0px 0px !important;
  background-size: contain !important;
  position: fixed;
  left: 0;
  top: 15%;
  height: 70%;
  width: 100%;
}

#map .map-item {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f00;
  border: 2px solid #900;
  border-radius: 100%;
  cursor: pointer;
}