
/* Audio buttons */

.audioplay,.audiopause{
  display: block;
  background: transparent;
  border: 2px solid #fff;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 10px;
  top: 38px;
  z-index: 2;
  opacity: 0.5;
  border-radius: 100%;
  padding: 8px;
  overflow: hidden;
}
.audioplay img,.audiopause img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.audiopause{
  display: none;
  opacity: 1;
  background: cornflowerblue; 
}


/* Wall field */

.wall-field {
  display: block;
  border: 0px solid #fff;
  border-radius: 0px;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#wall {
  display: block;
  position: absolute;
  width: 100%;
  height: 11px;
  left: 0;
  bottom: 68px;
  z-index: 1;
  background: url(../img/wall1.svg) repeat-x 0 0px;
  height: 40px;
  /* opacity: 0.5; */
}

#wpns {
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 68px;
  z-index: 3;
  /* background: rgba(255,0,0,0.5); */
}

.wpn-pos {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  top: 0px;
  z-index: 2;
  background: rgba(0,0,0,0.1);
  border: 2px dashed rgba(255,255,255,0.5);
  border-radius: 4px;
}

.wpn-pos:hover {
  background: rgba(255,255,0,0.2);
}

.wpn-pos.occupied {
  display: none;
}

#base {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0px;
  z-index: 3;
  background: #DEB url(../img/bg-base.png) no-repeat -122px -25px;
  text-align: center;
  padding-top: 8px;
}

#base.base-1 {

}

/*#base.base-1 #wall {
  background: url(../img/wall1.png) repeat-x 0 0px;
  height: 40px;
  top: 0px;
}

#base.base-2 {

}

#base.base-2 #wall {
  background: url(../img/wall-2.png) repeat-x 0 0;
  height: 32px;
  top: 0px;
}*/



/* Canvas element in wall field */

#action {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}


/* Village field */

.village-field {
  display: block;
  border: 0px solid #fff;
  border-radius: 0px;
  left: 0;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: red;
}

.village-bank {
  display: block;
  position: absolute;
  width: 80px;
  height: 70px;
  background: goldenrod;
  left: 10px;
  top: 40px;
}

.village-mine {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: darkmagenta;
  left: 340px;
  top: 40px;
}

.village-lab {
  display: block;
  position: absolute;
  width: 50px;
  height: 80px;
  background: sandybrown;
  left: 340px;
  top: 100px;
}

.village-weapon-factory {
  display: block;
  position: absolute;
  width: 110px;
  height: 140px;
  background: burlywood;
  left: 220px;
  top: 40px;
}

.village-airport {
  display: block;
  position: absolute;
  width: 380px;
  height: 60px;
  background: darkgrey;
  left: 10px;
  top: 190px;
}

.village-airfleet-factory {
  display: block;
  position: absolute;
  width: 200px;
  height: 60px;
  background: maroon;
  left: 10px;
  top: 120px;
}

.village-central-square {
  display: block;
  position: absolute;
  width: 110px;
  height: 70px;
  background: lightcoral;
  left: 100px;
  top: 40px;
}


/* Debug */

#debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 10px;
  z-index: 2;
  text-align: center;
}


/* Popup */

#cnt {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  text-align: center;
}

#cnt .arrow {
  position: absolute;
  left: 10px;
  bottom: -20px;
  height: 0px;
  width: 0px;
  border: 10px solid rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.5) transparent transparent transparent;
  z-index: 1;
  display: none;
}

#cnt .cnt-content {
  display: block;
  overflow: hidden;
  height: 85%;
}

#cnt .sel-wpn {
  display: block;
  height: 90%;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: left;
  position: relative;
  background: rgba(152, 165, 176, 0.5);
  float: left;
  margin: 10px 0 10px 10px;
  width: calc(100% / 3 - 15px);
}

#cnt .sel-wpn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 );
}

#cnt .sel-wpn .stats {
  float: right;
  width: 115px;
  margin-right: 15px;
  margin-top: 1px;
}

#cnt .sel-wpn .stats .stat {
  height: 17px;
  position: relative;
  margin: 0 0 0 5px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

#cnt .sel-wpn .stats .stat .icon {
  height: 14px;
  margin: 3px 0 0 0;
  float: left;
}

#cnt .sel-wpn .stats .stat .stat-max {
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 6px;
  width: 95px;
  left: 20px;
  top: 6px;
  border-radius: 5px;
  overflow: hidden;
}

#cnt .sel-wpn .stats .stat .stat-max .stat-current {
  position: absolute;
  height: 100%;
  background: rgb(105,255,71);
  background: -moz-linear-gradient(top,  rgba(105,255,71,1) 0%, rgba(0,206,24,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(105,255,71,1) 0%,rgba(0,206,24,1) 100%);
  background: linear-gradient(to bottom,  rgba(105,255,71,1) 0%,rgba(0,206,24,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ff47', endColorstr='#00ce18',GradientType=0 );
}

#cnt .sel-wpn .preview {height: 50px;margin: 10px 10px 10px 15px;}

.cnt-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.1);
  z-index: 9;
}


/* Start/Stop buttons */

#start,
#stop {
  position: absolute;
  right: 10px;
  top: 38px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 100%;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  z-index: 2;
  background: tomato;
  opacity: 1;
}

#start img,
#stop img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#start {

}

#stop {
  background: transparent;
  opacity: 0.5;
}


/* Top panel */

.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: grey;
  z-index: 3;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.life {
  position: absolute;
  display: block;
  z-index: 2;
  top: 4px;
  right: 10px;
  width: 100px;
  height: 16px;
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
}

#life {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0;
  border-radius: 3px;
  z-index: 1;
  background: #35d835;
  overflow: hidden;
}

#life:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 );
}

#life.life-8 {}
#life.life-7 {background-position: -83px 1px;}
#life.life-6 {background-position: -69px 1px;}
#life.life-5 {background-position: -55px 1px;}
#life.life-4 {background-position: -41px 1px;}
#life.life-3 {background-position: -27px 1px;}
#life.life-2 {background-position: -13px 1px;animation: blink 1s linear infinite;}
#life.life-1 {background-position: 1px 1px;animation: blink 1s linear infinite;}
#life.life-0 {background-position: 16px 1px;}

#lifenumber {
  position: absolute;
  height: 16px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  text-align: right;
  top: 2px;
  right: 2px;
  font-size: 11px;
  font-weight: bold;
  z-index: 2;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}

.bank {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 90px;
  height: 60px;
  z-index: 2;
  color: rgb(223, 223, 46);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  text-align: center;
  background: #7a5e0e url(../img/bg-bank.png) no-repeat 0 0px;
  box-shadow: 0 9px 1px 2px rgba(0,0,0,0.3);
}

.panel {
  position: absolute;
  background: url(../img/bg-wood-1.jpg) repeat-x 50% 50%;
  background-size: contain;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.money {
  position: absolute;
  left: 10px;
  top: 0px;
  height: 28px;
  line-height: 26px;
  z-index: 2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  letter-spacing: 0px;
  font-family: monospace;
}

.money #money {
  padding: 0 0 0 6px;
  letter-spacing: 2px;
}

.wpn-sel-props {
  position: absolute;
  font-family: sans-serif;
  font-size: 9px;
  z-index: 1;
  padding: 10px 0 0 5px;
}

.menu {
  position: absolute;
  left: 50%;
  width: 60px;
  margin-left: -30px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 7px;
  top: -5px;
  border-radius: 0 0 6px 6px;
}


/* Bottom buttons */

.buttons-panel {
  display: table;
  position: fixed;
  left: 50%;
  bottom: 10px;
  z-index: 4;
  width: 390px;
  margin-left: -195px;
}

.button-cell {
  display: table-cell;
}

button.village-wall-switch,
button.defense,
button.attack {
  display: inline-block;
  width: 50px;
  max-width: 50px;
  height: 50px;
  background: burlywood;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 12px;
  text-align: center;
  padding: 0;
  font-size: 6px;
  text-transform: uppercase;
  line-height: 57px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  overflow: hidden;
  margin: 0 3px 0 3px;
}

button.defense {
  background: cadetblue;
}

button.village-wall-switch {
  background: dodgerblue;
}

button.village-wall-switch img,
button.defense img,
button.attack img {
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -10px;
}

button.village-wall-switch .cost,
button.defense .cost,
button.attack .cost {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

button.village-wall-switch .cost {
  font-size: 7px;
  bottom: 3px;
}


/* Page */

.page {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: grey;
  z-index: 5;
}

.page-content {
  display: block;
  padding: 20px;
  overflow: auto;
  max-width: 200px;
  margin: 0 auto;
}

.page-close {
  display: block;
  cursor: pointer;
}













@-webkit-keyframes blink {
  50% { opacity: 0.0; }
}

@keyframes blink {
  50% { opacity: 0.0; }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes fly1 {
    0%   {left:-100px;}
    100% {left:1100px;}
}

/* Standard syntax */
@keyframes fly1 {
    0%   {left:-100px;}
    100% {left:1100px;}
}
















