.tip {
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.5);
}

.tip-arrow {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px 20px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5) transparent transparent transparent;
}

.tip-content {
  padding: 10px;
}